@font-face {
  font-family: "iconfont"; /* Project id 4275516 */
  src: url('iconfont.woff2?t=1699342102672') format('woff2'),
       url('iconfont.woff?t=1699342102672') format('woff'),
       url('iconfont.ttf?t=1699342102672') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e606";
}

.icon-shousuo:before {
  content: "\e665";
}

.icon-wangluo:before {
  content: "\e62e";
}

.icon-xinfeng:before {
  content: "\e621";
}

.icon-phone:before {
  content: "\e94f";
}

.icon-qq:before {
  content: "\e6a0";
}

.icon-xiaoxihezi-kong:before {
  content: "\e682";
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-xiangshang:before {
  content: "\e601";
}

.icon-xiangxia:before {
  content: "\e602";
}

.icon-jinggao:before {
  content: "\e603";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-info:before {
  content: "\e67d";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-github:before {
  content: "\e85a";
}

.icon-youxiang:before {
  content: "\e605";
}

.icon-duigouxiao:before {
  content: "\e8bd";
}

.icon-cha:before {
  content: "\e61f";
}

.icon-wodewenzhang:before {
  content: "\e618";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-guanyu:before {
  content: "\e622";
}

.icon-daima:before {
  content: "\e61d";
}

