:root {
  /*向晚*/
  --color-main: #9ac8e2;
  --color-main-semitransparent: #9ac8e280;
  --color-1: #f2f8fb85;
  --color-1-notrans: #f2f8fb;
  --color-2: #e6f1f8;
  --color-3: #d9eaf4;
  --color-4: #cde4f1;
  --color-5: #c0dded;
  --color-6: #b3d6e9;
  --color-7: #a7cfe6;
  --color-8: #75b4d7;
  --color-8-trans: #75b4d785;
  --color-9: #99ccff;
  --color-10: #66cccc85;

  --background-img: url("~@/assets/diana.png");

  --control-text-color: #777;
  --select-text-bg-color: var(--color-11); /* specially set for source mode */
  --search-select-bg-color: var(--color-8);

  --side-bar-bg-color: var(--color-main-semitransparent);
  --window-border: 2px solid var(--color-main);

  --title-color: var(--color-main);
  --text-color: #34495e;
  --font-sans-serif: "思源宋体", "Source Han Sans CN", "Ubuntu",
    "Source Han Sans SC", "Source Sans Pro", sans-serif !important;
  --font-monospace: "Fira Code", "思源黑体", "Noto Sans CJK SC", monospace !important;

  --base-font: -apple-system, "Fira Code", "思源黑体", "Noto Sans",
    "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans",
    "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC",
    "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei",
    "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", "Ubuntu",
    "Source Sans Pro", monospace;

  --title-font: "Noto Serif CJK SC", "Songti SC", "Source Han Serif SC",
    "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun,
    SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN",
    "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU,
    "Ubuntu", "Source Sans Pro", serif;
  --em-font: "Noto Serif CJK SC" ， "Songti SC", "Source Han Serif SC",
    "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun,
    SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN",
    "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU,
    "Ubuntu", "Source Sans Pro", serif;
  --quota-font: "EB Garamond", Baskerville, Georgia, "Liberation Serif",
    "TW-Kai", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK",
    "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312,
    DFKai-SB, "TW\-Kai", serif;
  --monospace: "Fira Code", "思源黑体", "Noto Sans", "Noto Sans CJK SC",
    "Cascadia code", "Sarasa Term SC", Monaco, "Deja Vu Sans Mono", Consolas,
    "Lucida Console", "Andale Mono", "Fira Code", "Roboto Mono", monospace,
    Courier;

  --shadow: var(--color-5) 0px 5px 10px;
}

.blog-detail-container {
  font-family: var(--base-font);
  background-color: #fff !important;
  height: auto;

  padding-top: 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  /*margin: 0 auto;
  padding: 4rem;*/
  padding-bottom: 100px;
  padding-left: 7%;
  padding-right: 7%;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 10px var(--color-main);
  z-index: 0;
}
.markdown-body {
  background: var(--background-img) no-repeat;
  background-size: 10%;
  background-position: 77% bottom;
  background-attachment: fixed;
}

/*标题*/
h1 {
  padding-bottom: 0.4rem;
  font-size: 2.2rem;
  line-height: 1.3;
}
h1 {
  text-align: center;
  padding-bottom: 0.3em;
  font-size: 2.2em;
  line-height: 1.2;
  margin: 1.6em auto 1em;
}
h1:after {
  content: "";
  display: block;
  margin: 0.2em auto 0;
  width: 100px;
  height: 2px;
  border-bottom: 2px solid var(--title-color);
}
h2 {
  margin: 1rem 0 1rem;
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
  padding-left: 0.3rem;
  border-left: 0.2rem solid var(--title-color);
  border-bottom: 0.1rem solid var(--title-color);
  position: relative;
}
h2::after {
  display: inline-block;
  content: "";
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 0.5rem solid var(--title-color);
  border-right: 0.5rem solid transparent;
}
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 1rem;
  padding: 0px;
  font-weight: bold;
  color: black;
}
.aside span,
.aside a {
  font-size: 0.35rem;
}

::selection {
  background-color: yellow; /* 设置选中文本的背景颜色为黄色 */
  color: red; /* 设置选中文本的字体颜色为黑色 */
}

/* 代码区域 */
pre {
  color: #c5c8c6;
  background-color: #21252b;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 40%);
  padding-top: 30px;
  font-family: monospace, "PingFang SC", "Microsoft YaHei";
  position: relative;
}
pre::before {
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: " ";
  height: 12px;
  left: 12px;
  margin-top: -20px;
  position: absolute;
  width: 12px;
}
code[data-backticks="1"] {
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 0.05px;
  margin: 0 2px;
  color: RGB(51, 153, 255);
  background-color: rgba(27, 31, 35, 0.05);
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  word-break: break-all;
}

img {
  width: 100%;
  max-width: 100% !important;
  box-shadow: var(--shadow);
  border-radius: 5px;
  border: 0px;
  object-fit: cover;
}
/* 媒体查询 */
@media (max-width: 576px) {
  .blog-detail-container {
    font-size: 0.45rem;
    line-height: 0.8rem;
  }
  /*标题*/
  h1 {
    margin: 1.2rem 0 1rem;
    padding: 0px;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    margin: 1.6rem auto 1rem;
  }
  h1:after {
    content: "";
    display: block;
    margin: 0.2rem auto 0;
    width: 100px;
    height: 2px;
    border-bottom: 2px solid var(--title-color);
  }
  h2 {
    margin: 1rem 0 1rem;
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
    padding-left: 0.3rem;
    border-left: 0.2rem solid var(--title-color);
    border-bottom: 0.1rem solid var(--title-color);
    position: relative;
  }
  h2::after {
    display: inline-block;
    content: "";
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 0.5rem solid var(--title-color);
    border-right: 0.5rem solid transparent;
  }
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5rem 0 1rem;
    padding: 0px;
    font-weight: bold;
    color: black;
  }
  .aside span,
  .aside a {
    font-size: 0.35rem;
  }
  code[data-backticks="1"] {
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 0.05px;
    margin: 0 2px;
    color: RGB(51, 153, 255);
    background-color: rgba(27, 31, 35, 0.05);
    font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
    word-break: break-all;
  }
  img {
    max-width: 100% !important;
    box-shadow: var(--shadow);
    border-radius: 0.1rem;
    border: 0px;
  }
  .markdown-body {
    background-position: 67% top;
    background-attachment: fixed;
  }
}
